PORT=5000
NODE_ENV=production
MONGO_URI=mongodb://mongodb:27017/dogfood
JUDGING_SERVICE_URL=http://judging-service:8000
JWT_SECRET=raptors-offline-cryptographic-master-key-2026
JWT_EXPIRES_IN=1h
REFRESH_SECRET=raptors-refresh-token-secret-salt-2026
CLIENT_URL=http://localhost:3000
